@import url(https://rsms.me/inter/inter.css)
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap)

*
  font-family: 'Inter', sans-serif
  font-feature-settings: 'cv10' 1, 'ss03' 1, 'cv08' 1, 'zero' 1, 'ss01' 1
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 150%
  margin: 0
  color: var(--foreground)
  transition: color .3s
  &::selection
    background-color: var(--highlight)
    transition: background-color .3s
strong
  font-weight: 800
em
  font-style: italic