@import '@/styles/global/breakpoints.sass'
  
#Project
  max-width: 700px
#intro
  margin-bottom: 96px
.credit
  white-space: pre-wrap
  margin-bottom: 64px
  font-style: italic
#text
  min-height: 100vh
  @media(min-width: $tablet)
    max-width: percentage(2/3)
#text::v-deep
  p
    margin-bottom: 32px
  h1
    margin-top: 64px
    margin-bottom: 32px