@import '@/styles/global/breakpoints.sass'

#titleSection
  position: relative

  // for getting a good tap target size
  height: 48px
  padding-left: 16px
  margin-left: -16px
  margin-top: -16px
  z-index: 5000
  
  cursor: pointer
  display: flex
  align-items: center
  #content
    width: 256px
    position: fixed
    display: flex
    left: 0
    .goBack
      opacity: 0
      transition: transform .3s, opacity .3s
      transform: translateX(-24px)
      &.shown
        opacity: 1
        transform: translateX(16px)
    .title
      left: 0
      transform: translateX(0px)
      transition: transform .3s
      &.nudged
        transform: translateX(24px)
#chapters
  margin-top: 32px
  position: fixed
  display: flex
  flex-direction: column
  a
    margin-bottom: 8px
    text-decoration: none
    opacity: .6
    transition: opacity .3s
    &.is-active, &:hover
      opacity: 1
  @media(max-width: $tablet)
    display: none
