#template
  max-width: 700px

#template::v-deep
  ul, ol
    margin: 32px 0
    padding-left: 24px
  h2
    margin-bottom: 32px
  code
    font-family: "Roboto Mono"
    font-size: 15px
    color: var(--foreground)
    background-color: var(--level1)
    border-radius: 2px
    padding: 1px
  p
    margin-bottom: 32px